@import "login/all";
@import "registration/all";
@import "page/all";
@import "teamlist/all";
@import "team/all";

body {
    margin: 0;
    background-color: $grey;
}

.app-content {
    margin-top: 50px;
}
