.registration {
    padding: 35px;
    margin: 0 auto;
    max-width: 800px;

    .registration__divider {
        padding-top: 20px;
    }

    .registration__controls {
        padding: 20px 0;
    }

    .registration-controls__next {
        padding-left: 20px;
    }
}
